body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

#answer {
  font-size: large;
}

.container {
  width: 100%;
  height: 100px;
  text-align: center;
}

.btn {
  background-color: rgb(100, 6, 100);
  border-radius: 20px;
  color: white;
  width: 250px;
}

.optBtn {
  background-color: rgb(7, 179, 247);
  border-color:  purple;
  border-radius: 3px;
  font-size: large;
  border-radius: 20px;
  color: white;
  width: 150px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.welcome {
  font-size:xx-large;
  padding-top: 100px;
  margin-bottom: 20px;
}

#main {
  margin-bottom: 20px;
  font-size: 100px;
  width: 100%;
  height: 25px;
}

#read {
  margin: auto;
  padding: 10px;
  width: 100%;
  height: 25px;
}
